.profile_header {
  height: 80px;
}
.profile_header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
.profile_header_container_logo {
  width: 10rem;
}
.profile_header_container_actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  width: 250px;
  margin-left: auto;
}
.header__actions__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 16px;
  box-shadow: 4px 5px 3px rgb(0 0 0 / 10%);
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.15s;
  margin-left: 15px;
}

.header__actions__item--icon {
  width: 25px;
  height: 25px;
  fill: #fff;
  transition: all ease-out 500ms;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  background-color: #1b1b1b;
  border-radius: 16px;
  box-shadow: 0 0 5px 2px rgb(0 0 0 / 10%);
}
.sidebar__avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 250px;
  position: relative;
  margin: 0 auto;
}
.sidebar__avatar::before {
  content: "";
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 180px;
  height: 180px;
  border: 2px solid #eec932;
  border-top-color: #d5d7db;
  border-radius: 100%;
  transform: rotate(45deg);
}
.sidebar__name {
  width: 80%;
  height: 40px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  margin-right: auto;
  margin-left: auto;
  color: #d1d0cf;
}
.sidebar__menus {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 25px 0;
  padding: 15px 25px;
  list-style: none;
}
.sidebar__menus__item--icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: #d1d0cf;
}
.sidebar__menus__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #262626;
  margin-bottom: 15px;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  transition: all ease-out 500ms;
}
.sidebar__menus__item__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  transition: all ease-out 500ms;
}
.profile_root_container {
  display: flex;
}
.sidebar__menus__item.active {
  background-color: #eec932;
  color: #1b1b1b;
}
.LeftSideBar_container {
  width: 25%;
  padding-left: 30px;
  padding-right: 30px;
}
.sidebar__menus__item--txt {
  color: #d1d0cf;
}
.sidebar__menus__item.active svg {
  fill: #1b1b1b;
}
.sidebar__menus__item.active span {
  color: #1b1b1b;
}
.sidebar__menus__item:hover span {
  color: #eec932;
}
.sidebar__menus__item:hover {
  cursor: pointer;
}
.sidebar__menus__item.active:hover span {
  color: #1b1b1b;
}
.dashboard__widget {
  display: flex;
  flex-direction: column;
  background-color: #1b1b1b;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  height: 250px;
  margin-right: 30px;
  width: 72.6%;
}
.dashboard__widget__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
}
.dashboard__widget__information .dashboard__widget__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dashboard__widget__head__title {
  font-size: 15px;
  font-weight: 400;
  color: #d1d0cf;
}
.dashboard__widget__information__item {
  display: flex;
  flex-direction: row;
  padding: 10px 19px;
  justify-content: space-between;
  background: #202020;
  margin: 5px 0;
  border-radius: 12px;
  flex: 0 0 49%;
  max-width: 49%;
}
.dashboard__widget__information .__head {
  color: #d1d0cf;
  margin-right: 10px;
  font-size: 14px;
}
.dashboard__widget__information .__txt {
  font-size: 14px;
  margin-right: 20px;
  color: #d1d0cf;
}
.bookmarks__list__item--img {
  width: 160px;
  height: 230px;
  border-radius: 12px;
}
.bookmarks__list__item {
  margin-right: 10px;
  flex: 0 0 17.5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.profile__flex__container {
  display: flex;
}

.profile__right__side__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  height: 300px;
  margin-right: 30px;
  width: 72.6%;
}
.profile__right__side__section.active {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: fit-content;
}
.profile__movie__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
  margin-right: 15px;
  flex: 0 0 18.1%;
  max-width: 20%;
}
.profile__movie__title {
  color: #d1d0cf;
}

.profile__movie__card:hover .profile__movie__title {
  color: #eec932;
}

.empty_section {
  width: 100%;
  height: 140px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty_section svg {
  fill: white;
  width: 60px;
  height: 60px;
  opacity: 0.5;
}
.empty__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty__items span {
  color: #d1d0cf;
  font-size: 18px;
}

.loading_in_profile {
  margin: 0 auto;
  padding-top: 250px;
}
