.swiper {
	width: 98%;
}

.img {
	border-radius: 13px;
}
.name {
	color: #fff;
	font-size: 13px;
	font-weight: 300;
	margin-right: 10px;
	text-align: center;
}
.name:hover {
	color: #fcd535;
}

.forBg {
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
	object-fit: cover !important;
	transition: all 0.5s;
}
